@import '../abstracts/variables';

.header__cart-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.bestseller__card-book-btn {
  margin-top: 16px;
  padding: 8px 74.5px;
  width: 242px;
  border-radius: 4px;
  background: $background-btn;
  text-align: center;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.end-up-btn {
  background: #4D762D;
}

.chat-btn {
  position: fixed;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #10BBD5;
  border: none;
  bottom: 88px;
  right: 28px;
  cursor: pointer;
}
