@import '../abstracts/variables';


.bestseller__card-wrapper {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 32px;
}

.bestseller__card{
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  background-color:$background-card;
  border: 1px solid $card-border-color;
  height: fit-content;
  width: 306px;
}

.bestseller__card-book-link{
  align-self: center;
}

.bestseller__card-book-img {
  width: 178px;
  height: 280px;
}

.bestseller__card-book-name {
  margin-top: 16px;
  overflow: hidden;
  color:$primary-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid $card-border-color;
  width: 100%;
}

.bestseller__card-book-author {
  overflow: hidden;
  color:$card-author-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
}

.bestseller__card-book-value {
  margin-top: 10px;
  color: $card-book-value;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.bestseller__card-book-old-price {
  color: $card-book-old-price;
  text-decoration:line-through;
}
