@import '../abstracts/variables';

footer {
  margin-top: 120px;
  padding: 0 52px;
  height: 88px;
  background: $background-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cabin', sans-serif;

  & span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
  }
}

