@import '../abstracts/variables';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__main {
  height: 72px;
  background: $background-header;
  padding: 0 52px 0 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  & span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
  }
}



.header__cart-container {
  position: relative;
}


.header__cart-counter {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 15px;
  font-weight: 400;
}

.header__nav {
  font-family: 'Cabin', sans-serif;
  display: flex;
  padding: 4px 52px 0 52px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  background-color: $background-navigation;
  line-height: 24px;
  text-align: left;

}

.header__list {
  display: flex;
  gap: 40px;
}

.header__list-link {
  text-decoration: none;
  color: $link-color;
}
